* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #fff;
}

header {
  background-color: #fff;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo img {
  width: 115px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li + li {
  margin-left: 35px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #000;
}

.header-cta .btn-contact {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 500;
  transition: opacity 0.2s ease;
}

.header-cta .btn-contact:hover {
  opacity: 0.8;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 130px auto;
  padding: 20px;
  height: 50vh;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-content .bold-text {
  font-weight: 900;
}

.hero-content p {
  font-size: 18px;
  margin-top: 10px;
  color: #666;
}

.hero-image img {
  width: 350px;
  height: auto;
}
